<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87471755892-v2o9o7ii215tk2aas4ktssinuh7r91u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87471755892-v2o9o7ii215tk2aas4ktssinuh7r91u3</string>
	<key>API_KEY</key>
	<string>AIzaSyBExji5nI4te9AjFnlcLrkE6C_QfW2tFvk</string>
	<key>GCM_SENDER_ID</key>
	<string>87471755892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shakilawan.com.tailorApp</string>
	<key>PROJECT_ID</key>
	<string>tailor-app-project-58e33</string>
	<key>STORAGE_BUCKET</key>
	<string>tailor-app-project-58e33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87471755892:ios:b83b16741270ea7861f721</string>
</dict>
</plist>